<div class="flex flex-col items-center justify-center bg-devify-bg w-screen md:pt-24 pt-16 md:pb-16 pb-8 px-">
    <div class="px-3 py-1 text-devify-primary text-sm font-semibold mb-4 bg-[#f4edfe] rounded-2xl">
        Our blog
    </div>
    <h1 class="text-[#42307D] text-5xl font-semibold mb-6 text-center">Resources and insights</h1>
    <p class="text-devify-primary text-xl text-center">The latest industry news, interviews, technologies, and resources.</p>
    <div class="relative mt-10">
        <input type="text" class="w-[320px] ps-8 p-2 border border-[#D0D5DD] shadow-[0px_1px_2px_0px_#1018280D] rounded-lg block" placeholder="Search">
        <img src="../../../assets/icons/search-icon.svg" alt="search icon" class="absolute top-3 left-3 w-4 h-4">
    </div>
</div>